# Grab sequences from OTUs of interest

In [1]:
import sys, os, re, glob
from Bio import SeqIO
from pandas import *

In [2]:
FastaSource = '/home/be68/Hyphosphere/data/MiSeq/20180129/20180130.v2.otus.fa'
OTUlist = '/home/be68/Hyphosphere/data/Myxococcales/OTUtree/AllMyxoTaxTable.txt'

OTUlist is a dataframe exported from R phyloseq object.  Here is was exported as a character vector so the column heading is only "x"

In [6]:
df = pandas.read_csv(OTUlist, sep = "\t")
df.head()

,Domain,Phylum,Class,Order,Family,Genus,Species,Strain,catglab
Otu2451,d_Bacteria,p_Proteobacteria,c_Deltaproteobacteria,o_Myxococcales,f_Cystobacteraceae,uncl_f_Cystobacteraceae,uncl_f_Cystobacteraceae,Otu2451,uncl_f_Cystobacteraceae_Otu2451
Otu2692,d_Bacteria,p_Proteobacteria,c_Deltaproteobacteria,o_Myxococcales,f_Cystobacteraceae,g_Anaeromyxobacter,s_Anaeromyxobacter_dehalogenans,Otu2692,g_Anaeromyxobacter_Otu2692
Otu1855,d_Bacteria,p_Proteobacteria,c_Deltaproteobacteria,o_Myxococcales,uncl_o_Myxococcales,uncl_o_Myxococcales,uncl_o_Myxococcales,Otu1855,uncl_o_Myxococcales_Otu1855
Otu3266,d_Bacteria,p_Proteobacteria,c_Deltaproteobacteria,o_Myxococcales,uncl_o_Myxococcales,uncl_o_Myxococcales,uncl_o_Myxococcales,Otu3266,uncl_o_Myxococcales_Otu3266
Otu794,d_Bacteria,p_Proteobacteria,c_Deltaproteobacteria,o_Myxococcales,uncl_o_Myxococcales,uncl_o_Myxococcales,uncl_o_Myxococcales,Otu794,uncl_o_Myxococcales_Otu794

In [3]:
df = pandas.read_csv(OTUlist, sep = "\t")
OTUcheck = df.Strain.tolist()
OTUcheck[0:4]

['Otu2451', 'Otu2692', 'Otu1855', 'Otu3266']

In [7]:
output = open("/home/be68/Hyphosphere/data/Myxococcales/OTUtree/MyxOTUseqs.fa", "w")

for record in SeqIO.parse(open(FastaSource, "rU"), "fasta") :
    if record.id in OTUcheck:
        output.write(">"+record.id+"\n"+str(record.seq)+"\n")

/home/be68/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning: 'U' mode is deprecated
  This is separate from the ipykernel package so we can avoid doing imports until